<header class="sticky-top bg-white shadow-sm">
  <nav class="navbar navbar-expand-lg bg-white p-3 mb-4 border-bottom border-primary">
        <div class="container-fluid">
            
            <a class="navbar-brand" href="https://icei.ac.id/">
                <img src="https://iceinstitut.github.io/image/aset/ice-institute-logo-horizontal.png" height="43px" alt="ICE Institute Logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#responsiveNavbar" aria-controls="responsiveNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="responsiveNavbar">
                
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold align-items-center">
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Aa">Aa</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Accounting">Accounting</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Agriculture">Agriculture</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Animal Health">Animal Health</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Apparel Technology and Aesthetics">Apparel Technology and Aesthetics</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Art">Art</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Art and Culture">Art and Culture</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Artificial Intelligence">Artificial Intelligence</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Banking">Banking</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Bioinformatics">Bioinformatics</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Biology">Biology</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Biology and Life Sciences">Biology and Life Sciences</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Business">Business</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Business and Management">Business and Management</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Business Essentials">Business Essentials</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Business Strategy">Business Strategy</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Chemistry">Chemistry</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Civic Education">Civic Education</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Communication">Communication</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Computer Science">Computer Science</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Computer Security and Networks">Computer Security and Networks</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Culture and Humanities">Culture and Humanities</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Cybersecurity">Cybersecurity</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Data Analysis">Data Analysis</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Data Analysis and Statistics">Data Analysis and Statistics</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Data Engineering">Data Engineering</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Data Management">Data Management</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Data Science">Data Science</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Data Statistic">Data Statistic</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Design">Design</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Design and Product">Design and Product</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Digital Business">Digital Business</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Digital Media">Digital Media</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Earth Science">Earth Science</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Economics">Economics</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Economics and Finance">Economics and Finance</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Economy">Economy</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Education">Education</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Educational Technology">Educational Technology</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Energy and Earth Sciences">Energy and Earth Sciences</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Engineering">Engineering</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Entrepreneurship">Entrepreneurship</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Finance">Finance</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Food and Nutrition">Food and Nutrition</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Health">Health</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/History">History</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Information Systems">Information Systems</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Information Technology">Information Technology</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/IT">IT</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Journalism & Media">Journalism & Media</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Kompetensi Tendik">Kompetensi Tendik</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Language">Language</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Language Indonesia">Language Indonesia</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Law">Law</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Leadership">Leadership</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Leadership And Management">Leadership And Management</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Learning English">Learning English</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Linguistics">Linguistics</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Machine Learning">Machine Learning</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Management">Management</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Marketing">Marketing</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Mathematics">Mathematics</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Medical Imaging">Medical Imaging</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Micro-Credential">Micro-Credential</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Mobile and Web Development">Mobile and Web Development</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Music">Music</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Networking">Networking</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Online Learning">Online Learning</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Other Languages">Other Languages</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Pekerti">Pekerti</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Personal Development">Personal Development</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Pharmacy">Pharmacy</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Philosophy">Philosophy</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Programming">Programming</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Psychology">Psychology</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Religion">Religion</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Science">Science</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Skills Development">Skills Development</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Social">Social</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Social Sciences">Social Sciences</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Software Development">Software Development</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Sosial Dan Humaniora">Sosial Dan Humaniora</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Supply Chain Management">Supply Chain Management</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Support and Operations">Support and Operations</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Sustainability">Sustainability</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Tax">Tax</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Technology">Technology</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Tourism">Tourism</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Virtual Reality">Virtual Reality</a></li>
                          <li><a class="dropdown-item" href="https://icei.ac.id/courses/Wellness">Wellness</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://icei.ac.id/tracks/institusi">Partners</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://verify.accredible.com/input">Certificates</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://icei.ac.id/news">News/Info</a></li>
                            <li><a class="dropdown-item" href="https://karirku.id/">Karirku</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="https://icei.ac.id/courses">
                             <i class="bi bi-search"></i>
                        </a>
                    </li>

                    <li class="nav-item ms-lg-2 mt-2 mt-lg-0">
                        <a href="https://icei.ac.id/register?next=%2F" class="btn btn-outline-primary" type="button">Register</a>
                    </li>
                    
                    <li class="nav-item ms-lg-2 mt-2 mt-lg-0">
                        <a href="https://icei.ac.id/login?next=%2F" class="btn btn-outline-primary" type="button">Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
